// app global css in SCSS form
.btn-radius{
    border-radius: 10px;
}

.keranjang{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows:35px auto 150px;
}

.header-kasir{
    position:sticky;
    position:-webkit-sticky;
    top:0;
    z-index:2;

}